#[link(name = "ncollide"
       , vers = "0.0"
       , author = "Sébastien Crozet"
       , uuid = "833DFDBD-3E85-456F-9CA7-84AADE5ED3BE")];
#[crate_type = "lib"];
#[warn(non_camel_case_types)]

extern mod std;
extern mod extra;
extern mod nalgebra;

pub mod utils
{
  pub mod managed;
  pub mod exact;
  pub mod default;
  pub mod empty;
}

pub mod geom
{
  pub mod transformable;
  pub mod has_geom;
  pub mod default_geom;
  pub mod ball;
  pub mod plane;
  pub mod box;
  pub mod convex_polytope;
  pub mod cso;
  pub mod minkowski_sum;
  pub mod reflection;
  pub mod transformed;
  pub mod implicit;
}

pub mod bounding_volume
{
  pub mod has_bounding_volume;
  pub mod bounding_volume;
  pub mod aabb;
}

pub mod narrow
{
  pub mod collision_detector;
  pub mod has_geom_has_geom;
  pub mod default_default;
  pub mod empty_detector;
  pub mod plane_implicit;
  pub mod ball_ball;

  pub mod algorithm
  {
    pub mod simplex;
    pub mod johnson_simplex;
    pub mod brute_force_simplex;
    pub mod gjk;
  }
}

pub mod broad
{
  pub mod broad_phase;
  pub mod empty_broad_phase;
  pub mod brute_force_broad_phase;
  pub mod brute_force_bounding_volume_broad_phase;
  // pub mod dbvh_broad_phase;
}

pub mod contact
{
  pub mod contact;
  pub mod geometric_contact;
}

mod tests
{
  mod geom;
  mod narrow;
  mod algo;
}
